@import '../shared';

.todo {
  background: $todo-normal;
  border: 2px solid #000;
  color: #333;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.done {
  background: $todo-complete;
}

.critical {
  border: 4px dashed $todo-critical;
  composes: todo;
}
