@import '../shared';

.todo {
  background: $todo-normal;
  border: 2px solid $black;
  color: $todolist-grey;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.done {
  background: $todo-complete;
}

.hr {
  border: 2px solid $red;
}

.critical {
  background: $todo-critical;
  composes: todo;
}
